<!DOCTYPE html>
<html lang="es">
<link media="screen" rel="stylesheet" href="./stylesheets/index.css" />
<head>
  <meta charset="utf-8">
  <title>Index Práctica 1</title>
</head>

<body>
  <div id="cabecera" id="oculto">
    <div id="cabecera_izquierda">
      <img src="./images/Logo.png" alt="logotipo"  />
    </div>
    <div id="cabecera_derecha">
      <div id="log_in">
        <p>  no estás conectado</p>
      </div>

    </div>
  </div>
</body>

</html>
